.header__menu {
  max-width: 1440px;
  margin-right: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  height: 74px;
}

@media screen and (max-width: 1025px) {
  .header__menu{
    margin-right: 80px;
  }
}
@media screen and (max-width: 500px) {
  .header__menu {
    display: none;
  }
}
