$titleColor: #151515;
$textColor: #222222;
$mainColor: #f4f4f4;
$darkTheme: #333;
$titleColorDark: #fff;
$textColorDark: #E5E5E5;

$textFont: 400 18px/28px 'Inter', sans-serif;
$textFontMobile: 400 12px/18px 'Inter', sans-serif;
$headerFont: 500 14px/18px 'Inter' , sans-serif;
$titleFont: 700 55px/60px 'Inter', sans-serif;
$titleFontMobile: 700 32px/40px 'Inter', sans-serif;

