.lead__fix-img-container {
  position: absolute;
  top: 43%;
  left: -200px;
  width: 440px;
  height: 430px;
}

@media screen and (max-width: 1400px) {
  .lead__fix-img-container {
    width: 350px;
    height: 340px;
    top: 33%;
  }
}
@media screen and (max-width: 1081px) {
  .lead__fix-img-container {
    left: -151px;
    width: 300px;
    height: 230px;
    top: 53%;
  }
}

@media screen and (max-width: 900px) {
  .lead__fix-img-container{
    top: 55%;
  }
}

@media screen and (max-width: 769px) {
  .lead__fix-img-container {
    left: -33%;
    width: 234px;
    height: 180px;
  }
}

@media screen and (max-width: 731px) {
  .lead__fix-img-container{
    top: 44%;
    left: -13%;
  }
}