.button__arrow_type_prev {
  background-image: url(../../../../../images/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s ease-in;
}

.button__arrow_type_prev:hover {
  opacity: 0.75;
}

@media screen and (max-width: 500px) {
  .button__arrow_type_prev {
    background-image: url(../../../../../images/smallprev.svg);
  }
}
