.header__menu-list{
  @include ul;
  width: 399px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .header__menu-list{
    padding-top: 145px;
    margin: 0;
    width: 100%;
    background-color: #f3f3f3;
    height: 734px;
    display: block;
  }
}