.header__icon_theme_dark {
  display: block;
  position: relative;
  width: 22px;
  height: 16px;
  cursor: pointer;
  grid-column: 2;
}
.header__icon_theme_dark::before {
  content: "";
  border-top: 3px solid white;
  width: 100%;
  transition: all 0.3s ease 0s;
}
.header__icon_theme_dark::after {
  content: "";
  width: 100%;
  transition: all 0.3s ease 0s;
  border-top: 3px solid white;
}
