.footer{
  max-width: 1440px;
  background-color: #efefef;
}

@media screen and (max-width: 1100px) {
  .footer{
    padding-left: 30px;
  }
}

@media screen and (max-width: 420px) {
  .footer{
    padding: 0;
  }
}