.bikes__header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

@media screen and (max-width: 1279px) {
  .bikes__header-container{
    margin-bottom: 70px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  .bikes__header-container{
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}