.lead__title {
  @include title;
  margin: 0 0 50px;
  padding-top: 60px;
}

@media screen and (max-width: 1081px) {
  .lead__title {
    font-size: 45px;
    line-height: 45px;
    padding-top: 40px;
    width: 350px;
  }
}

@media screen and (max-width: 769px) {
  .lead__title {
    @include titleMobile;
    margin: 0 0 40px;
    padding-top: 0;
  }
}
